.input {
	padding: 10px;
	border: solid 1px var(--font-color);
	border-radius: 5px;
	width: 100%;
	margin: 10px 0;
	transition: 0.25s;
}

.input::placeholder {
	color: var(--font-color);
	text-transform: uppercase;
	font-size: 0.7rem;
	letter-spacing: 1px;
}
.input:focus::placeholder {
	color: var(--green-yellow);
}
.input:focus {
	outline-color: var(--green-yellow);
}
