.shape{
   position: absolute;
   cursor: pointer;
   border: dotted 1px var(--dark);
   z-index: 1000;
}
.shape svg{
   position: absolute;
   top: 0;
   width: 35px;
   background: var(--main-color);
   border: dotted 1px var(--dark);
   border-top: none;
   border-left: none;
   padding: 5px 8px;
   opacity: .2;
}
.shape svg:last-of-type{
   transform: translateX(100%);
}

.shape svg.active{
   opacity: 1;
}
.shape.resize{
   border-right-color: var(--green-yellow);
   border-right-width: 3px;
   border-bottom-color: var(--green-yellow);
   border-bottom-width: 3px;
}