.yellow{
    fill:var(--yellow);
}
.red-brown{
    fill:var(--red-brown);
}
.green-yellow{
    fill:var(--green-yellow);
}
.white-strokeBlack{
    fill:#fff;
    stroke:#1d1d1b;
}
.none{
    fill:none;
}