.yellow{
    fill:var(--yellow);
}
.red-brown{
    fill:var(--red-brown);
}
.green-yellow{
    fill:var(--green-yellow);
}
.white-strokeBlack{
    fill:var(--main-color);
    stroke:var(--font-color);
}
.none{
    fill:none;
}