:root {
	--yellow: #fdd200;
   --green-yellow: #c9d41a;
   --dark-green-yellow:#a4ac1d;
   --red-brown: #b01919;
   --border-color: #d7d7d7;
	--black: #1d1d1b;
	--main-color: #fff;
	--facebook: #4064ac;
	--google: #d95548;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	color: var(--black);
}
.App {
	width: 100vw;
	height: 100vh;
	display: flex;
}
a {
	text-decoration: none;
	color: inherit;
}
button {
	outline: none;
}
li{
   list-style: none;
}